<div class="user-worksheet-list-table">
  <table>
    <thead>
        <tr>
            <th>UserName</th>
            <th>WorkWeek</th>
            <th>WorkHours</th>
            <th>WorkItems</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let worksheet of userWorkSheets">
            <td>{{worksheet.userName}}</td>
            <td>{{worksheet.workWeek}}</td>
            <td>{{worksheet.workHours}}</td>
            <td>
              <tr *ngFor="let workitem of workItems">
                <td *ngFor="let workItemCode of worksheet.workItemCodes">
                  <div *ngIf="workitem.code === workItemCode">
                    {{workitem.code}}/{{workitem.description}} - {{workitem.workTypeCode}}
                  </div>
                </td>
              </tr>
            </td>
            <td>
              <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
              <button class="btn btn-primary mr-3" style="width:80px" type="button" (click)="approove(worksheet.id)">Approve</button>
                </div>
              </div>
            </td>
        </tr>
    </tbody>
  </table>
  </div>
