<div style="float: right;">
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>

    <div class="card-body">
      <form [formGroup]="workItemForm" (ngSubmit)="save()" novalidate>
        <fieldset>

          <div class="form-group row">
            <label class="col-form-label"
                   for="code">Code</label>
            <div class="col-md-8">
              <input type="text" formControlName="code" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form--label"
                   for="description">Description</label>

            <div class="col-md-8">
              <input type="text" formControlName="description" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 offset-md-2">
              <button type="submit">Save</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
