<div class="card">
  <div class="card-header">
    Edit User Details
  </div>

  <div class="card-body">
    <form novalidate #userForm="ngForm"
          [formGroup]="userFormGroup">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstName">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="firstName"
                 type="text"
                 placeholder="First Name (required)"
                 formControlName="firstName"
                 [(ngModel)]=updateUser.firstName
                 [ngClass]="{'is-invalid': (userFormGroup.get('firstName').touched ||
                                            userFormGroup.get('firstName').dirty) &&
                                            !userFormGroup.get('firstName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="userFormGroup.get('firstName').errors?.minlength">
              The first name must be longer than 2 characters.
            </span>
            <span *ngIf="userFormGroup.get('firstName').errors?.pattern">
              Only Alphabets allowed.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="lastName">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="lastName"
                 type="text"
                 placeholder="Last Name (required)"
                 formControlName="lastName"
                 [(ngModel)]=updateUser.lastName
                 [ngClass]="{'is-invalid': (userFormGroup.get('lastName').touched ||
                                            userFormGroup.get('lastName').dirty) &&
                                            !userFormGroup.get('lastName').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('lastName').errors?.required">
              Please enter your last name.
            </span>
            <span *ngIf="userFormGroup.get('lastName').errors?.minlength">
              The last name must be longer than 2 characters.
            </span>
            <span *ngIf="userFormGroup.get('firstName').errors?.pattern">
              Only Alphabets allowed.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="dateOfBirth">Date Of Birth</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="dateOfBirth"
                 type="date"
                 placeholder="DateOfBirth"
                 formControlName="dateOfBirth"
                 [(ngModel)]=updateUser.dateOfBirth
                 [max]="maxDate" />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('dateOfBirth').errors?.max">
              DateOfBirth cannot be future date.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
                for="email">Email</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="email"
                  type="email"
                  placeholder="Email (required)"
                  formControlName="email"
                  [(ngModel)]=updateUser.email
                  [ngClass]="{'is-invalid': (userFormGroup.get('email').touched ||
                                            userFormGroup.get('email').dirty) &&
                                            !userFormGroup.get('email').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('email').errors?.required">
              Please enter your email.
            </span>
            <span *ngIf="userFormGroup.get('email').errors?.maxlength">
              Please enter a valid email.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="addressLine1">AddressLine1</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="addressLine1"
                 type="text"
                 placeholder="addressLine1"
                 formControlName="addressLine1"
                 [(ngModel)]=updateUser.addressLine1 />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="addressLine2">AddressLine2</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="addressLine2"
                 type="text"
                 placeholder="addressLine2"
                 formControlName="addressLine2"
                 [(ngModel)]=updateUser.addressLine2 />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="city">City</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="city"
                 type="text"
                 placeholder="city"
                 formControlName="city"
                 [(ngModel)]=updateUser.city />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('city').errors?.pattern">
              Only Alphabets allowed.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="state">State</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="state"
                 type="text"
                 placeholder="state"
                 formControlName="state"
                 [(ngModel)]=updateUser.state />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('state').errors?.pattern">
              Only Alphabets allowed.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="country">Country</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="country"
                 type="text"
                 placeholder="country"
                 formControlName="country"
                 [(ngModel)]=updateUser.country />
          <span class="invalid-feedback">
            <span *ngIf="userFormGroup.get('city').errors?.pattern">
              Only Alphabets allowed.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="zipcode">Zipcode</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="Zipcode"
                 type="number"
                 placeholder="zipcode"
                 formControlName="zipcode"
                 [(ngModel)]=updateUser.zipcode />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="userName">Username</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="userName"
                 type="text"
                 placeholder="UserName (required)"
                 formControlName="userName"
                 [(ngModel)]=updateUser.userName
                 [ngClass]="{'is-invalid': (userFormGroup.get('userName').touched ||
                                            userFormGroup.get('userName').dirty) &&
                                            !userFormGroup.get('userName').valid }" />
                <span class="invalid-feedback">
                <span *ngIf="userFormGroup.get('userName').errors?.required">
                Please enter your desired user name.
                </span>
                <span *ngIf="userFormGroup.get('userName').errors?.minlength">
                The user name must be longer than 4 characters.
                </span>
                </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="admin">Admin</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="admin"
                 type="checkbox" checked=false
                 [(ngModel)]=updateUser.admin
                 placeholder="admin"
                 formControlName="admin" />
        </div>
      </div>

      <div formGroupName="passwordGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="password">Password</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="password"
                   type="password"
                   placeholder="Password (required)"
                   formControlName="password"
                   [(ngModel)]=updateUser.password
                   [ngClass]="{'is-invalid': (userFormGroup.get('passwordGroup.password').touched ||
                                            userFormGroup.get('passwordGroup.password').dirty) &&
                                            !userFormGroup.get('passwordGroup.password').valid }" />
                  <span class="invalid-feedback">
                    <span *ngIf="userFormGroup.get('passwordGroup.password').errors?.required">
                    Please enter your desired password.
                    </span>
                    <span *ngIf="userFormGroup.get('passwordGroup.password').errors?.minlength">
                    The password must be longer than 4 characters.
                    </span>
                    </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="confirmPassword">Confirm Password</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="confirmPassword"
                   type="password"
                   placeholder="Confirm Password"
                   formControlName="confirmPassword"
                   [(ngModel)]=updateUser.password
                   [ngClass]="{'is-invalid': userFormGroup.get('passwordGroup').errors ||
                                             ((userFormGroup.get('passwordGroup.confirmPassword').touched ||
                                             userFormGroup.get('passwordGroup.confirmPassword').dirty) &&
                                              !userFormGroup.get('passwordGroup.confirmPassword').valid) }" />
            <span class="invalid-feedback">
              <span *ngIf="userFormGroup.get('passwordGroup').errors?.match">
                The confirm password does not match the password.
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="button"
                  (click)="update(updateUser.id, updateUser)"
                  style="width:80px"
                  [title]="userFormGroup.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!userFormGroup.valid">
            Update
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
